.fs-34 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.08rem;
    letter-spacing: -5%;
}

.fs-18 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.16rem;
    color: #1F1F33;
    ;
    text-decoration: none;
    margin-right: 5rem;
}

.fs-38 {
    font-size: 3.8rem;
    line-height: 4.56rem;
    font-weight: 700;
}

.fs-20 {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 400;
    color: #1F1F33;
    margin-bottom: 1rem;
}

.fs-16 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: #615F70;
}

.mb-40 {
    margin-bottom: 4rem;
}

.mb-10 {
    margin-bottom: 1rem;
}